.auth {
    min-height: calc(100vh - 10rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    font-size: 1.3rem;
    grid-column: 1 / 3;
    label {
        color: #fff;
    }
    &__input {
        background: none;
        border: .1rem solid rgba(0,0,0,.1);
        border-radius: 10rem;
        padding: .5rem 1rem;
        width: 25rem;
    }
    &__error {
        color: red;
    }
}