.icon {
    font-size: 1.5rem;
    &--search {
        z-index: 2;
    }
    &--play, &--star {
        font-size: 4.5rem;
        color: #fff;
        transition: all .2s ease-in;
    }
    &--play {
        position: absolute;
        top: 20%;
        right: -4.5rem;
    }
    &--star {
        position: absolute;
        top: 40%;
        left: -4.5rem;
    }
    &--menu {
        font-size: 2.5rem;
    }
}